@import "../Input/Input.css";

.toggle-visibility {
  background: none;
  color: var(--text-secondary);
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: var(--transition);
}
.toggle-visibility:hover {
  color: var(--primary);
}

.caps-lock-warning {
  color: var(--warning);
  font-size: 13px;
  font-weight: 500;
  margin-top: 6px;
}
